# Global owners, automatically request review when pull request is submitted
*                   @dfsek @solonovamax @duplexsystem @Astrashh @justaureus

# Platforms
/platforms/         @dfsek @solonovamax @duplexsystem @justaureus

# Common
/common/            @dfsek @solonovamax @duplexsystem @Astrashh

# Gradle Stuff
/buildSrc/          @dfsek @solonovamax @duplexsystem
*.gradle.kts        @dfsek @solonovamax @duplexsystem
/gradle/            @dfsek @solonovamax @duplexsystem