[submodule "common/addons/config-locators"]
	path = common/addons/config-locators
	url = https://github.com/PolyhedralDev/Terra-config-locators
[submodule "common/addons/config-noise-function"]
	path = common/addons/config-noise-function
	url = https://github.com/PolyhedralDev/Terra-config-noise-function
[submodule "common/addons/config-ore"]
	path = common/addons/config-ore
	url = https://github.com/PolyhedralDev/Terra-config-ore
[submodule "common/addons/config-palette"]
	path = common/addons/config-palette
	url = https://github.com/PolyhedralDev/Terra-config-palette
[submodule "common/addons/config-structure"]
	path = common/addons/config-structure
	url = https://github.com/PolyhedralDev/Terra-config-structure
[submodule "common/addons/generation-stage-feature"]
	path = common/addons/generation-stage-feature
	url = https://github.com/PolyhedralDev/Terra-generation-stage-feature
[submodule "common/addons/generation-stage-structure"]
	path = common/addons/generation-stage-structure
	url = https://github.com/PolyhedralDev/Terra-generation-stage-structure
[submodule "common/addons/language-yaml"]
	path = common/addons/language-yaml
	url = https://github.com/PolyhedralDev/Terra-language-yaml
[submodule "common/addons/manifest-addon-loader"]
	path = common/addons/manifest-addon-loader
	url = https://github.com/PolyhedralDev/Terra-manifest-addon-loader
[submodule "common/addons/structure-sponge-loader"]
	path = common/addons/structure-sponge-loader
	url = https://github.com/PolyhedralDev/Terra-structure-sponge-loader
[submodule "common/addons/structure-terrascript-loader"]
	path = common/addons/structure-terrascript-loader
	url = https://github.com/PolyhedralDev/Terra-structure-terrascript-loader
