[submodule "common/addons/biome-provider-image"]
	path = common/addons/biome-provider-image
	url = https://github.com/PolyhedralDev/Terra-biome-provider-image
[submodule "common/addons/biome-provider-pipeline"]
	path = common/addons/biome-provider-pipeline
	url = https://github.com/PolyhedralDev/Terra-biome-provider-pipeline
[submodule "common/addons/biome-provider-single"]
	path = common/addons/biome-provider-single
	url = https://github.com/PolyhedralDev/Terra-biome-provider-single
[submodule "common/addons/chunk-generator-noise-3d"]
	path = common/addons/chunk-generator-noise-3d
	url = https://github.com/PolyhedralDev/Terra-chunk-generator-noise-3d
[submodule "common/addons/config-biome"]
	path = common/addons/config-biome
	url = https://github.com/PolyhedralDev/Terra-config-biome
